@page "/estados"
@inject HttpClient Http
<div class="container">
    <br />
    <h2>Estados</h2>
    @if (silos == null)
    {
        <text> Cargando silos... </text>
    }
    else if (silos.Length == 0)
    {
        <text> No se encontraron silos en la base de datos. </text>
    }
    else
    {
        <div>
            @foreach (var item in silos.ToList())
            {
                <SecureSilo.Client.Pages.Estados.SiloComponent Silo="@item" />
            }
        </div>
    }
</div>
@code {
    Silo[] silos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CargarSilo();
    }
    async Task CargarSilo()
    {
        silos = await Http.GetFromJsonAsync<Silo[]>("Silos");
    }
}
