@page "/"

<SecureSilo.Client.Pages.IndexComponents.CarouselComponent />
<div class="container">
    <br />
    <br />
    <SecureSilo.Client.Pages.IndexComponents.MarketingComponent />
    <br />
    <hr class="featurette-divider">
    <SecureSilo.Client.Pages.IndexComponents.FeaturetteComponent />
    <br />
    <SecureSilo.Client.Pages.IndexComponents.ContactComponent />
</div>
<footer class="container">
    <p class="float-end"><a href="#">Volver al inicio</a></p>
    <p>&copy;  2021 - SecureSilo &middot; Contato: securesilo@gmail.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


