@page "/"

<SecureSilo.Client.Pages.IndexComponents.CarouselComponent />
<div class="container">
    <hr class="featurette-divider">
    <SecureSilo.Client.Pages.IndexComponents.MarketingComponent />
    <hr class="featurette-divider">
    <SecureSilo.Client.Pages.IndexComponents.FeaturetteComponent />
</div>
<footer class="container">
    <p class="float-end"><a href="#">Volver al inicio</a></p>
    <p>&copy; © 2021 - SecureSilo &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

