@page "/crear-silo"
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Configurar nuevo silo</h3>
<FormularioSilos TextoBoton="Confirmar" OnValidSubmit="@CrearSilo" Silo="@silo" />

@code {
    Silo silo = new Silo();

    async Task CrearSilo()
    {
        await Http.PostAsJsonAsync("silos", silo);
        NavManager.NavigateTo("silos");
    }
}
