@page "/crear-dispositivo"
@inject HttpClient Http
@inject NavigationManager NavManager
<div class="container">
    <br />
    <h3 class="text-center">Configurar nuevo dispositivo</h3>
    <FormularioDispositivos TextoBoton="Confirmar" OnValidSubmit="@CrearDispositivo" Dispositivo="@dispositivo" />
</div>

@code {
    Dispositivo dispositivo = new Dispositivo();

    async Task CrearDispositivo()
    {
        await Http.PostAsJsonAsync("dispositivos", dispositivo);
        NavManager.NavigateTo("dispositivos");
    }

}
