@page "/editar-campo/{IdCampo:int}"
@inject HttpClient Http
@inject NavigationManager NavManager

<div class="container">
    <h3> Editar campo</h3>
    @if (campo != null)
    {
        <FormularioCampos TextoBoton="Editar Campo" OnValidSubmit="@EditarCampo" Campo="@campo" />
    }
    </div>

@code {
    [Parameter] public int IdCampo { get; set; }
    Campo campo = new Campo();
    protected async override Task OnParametersSetAsync()
    {
        campo = await Http.GetFromJsonAsync<Campo>($"campos/{IdCampo}");
    }
    async Task EditarCampo()
    {
        await Http.PutAsJsonAsync("campos", campo);
        NavManager.NavigateTo("campos");
    }
}
