@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta bloqueada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta fue bloqueada por un administrador, por favor contactese con la mesa de soporte.</p>
</header>
