@page "/crear-panel"
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Configurar nuevo panel</h3>
<FormularioPaneles TextoBoton="Confirmar" OnValidSubmit="@CrearPanel" Panel="@panel" />

@code {
    Panel panel = new Panel();

    async Task CrearPanel()
    {
        await Http.PostAsJsonAsync("paneles", panel);
        NavManager.NavigateTo("paneles");
    }

}
