@page "/editar-panel/{IdPanel:int}"
@inject HttpClient Http
@inject NavigationManager NavManager
<h3> Editar panel</h3>
<FormularioPaneles TextoBoton="Editar Panel" OnValidSubmit="@EditarPanel" Panel="@panel" />

@code {
    [Parameter] public int IdPanel { get; set; }
    Panel panel = new Panel();
    protected async override Task OnParametersSetAsync()
    {
        panel = await Http.GetFromJsonAsync<Panel>($"paneles/{IdPanel}");
    }
    async Task EditarPanel()
    {
        await Http.PutAsJsonAsync("paneles", panel);
        NavManager.NavigateTo("paneles");
    }
}
