@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <NotAuthorized>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" @onclick="ToLogin">Iniciar sesión</button>
    </NotAuthorized>
    <Authorized>
        <a href="authentication/profile" class="navbar-brand">Perfil</a>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" @onclick="BeginSignOut">Salir</button>
    </Authorized>

</AuthorizeView>
@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    private async Task ToLogin(MouseEventArgs args)
    {
        Navigation.NavigateTo("/authentication/login");
    }
    private async Task ToProfile(MouseEventArgs args)
    {
        Navigation.NavigateTo("/authentication/profile");
    }
}
