
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" @onclick="ToggleNavMenu">
    <a class="navbar-brand" href="/">AlarmSilo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="estados">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Estados
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="paneles">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Paneles
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="silos">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Silos
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="dispositivos">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Dispositivos
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="historial-updates">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Historial
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>                             
        </ul>
        <LoginDisplay />
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
