<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-3" >
    <a class="navbar-brand" href="/">AlarmSilo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="campos">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Campos
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="silos">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Silos
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="dispositivos">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Dispositivos
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="estados">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Estados
                        </NavLink>
                    </li>
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="historial-updates">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Historial
                        </NavLink>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown04">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    <NavLink class="nav-link active" @onclick="()=>expandSubNav = !expandSubNav">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                    @if (expandSubNav)
                    {
                        <NavLink class="expand-menu" href="">
                            <span>Sub1</span>
                        </NavLink>
                        <NavLink class="expand-menu" href="">
                            <span>Sub2</span>
                        </NavLink>
                    }
                </Authorized>
            </AuthorizeView>                             
        </ul>
        <LoginDisplay />
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
