
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">
            Secure Bag: <span class="text-muted"> nuestro producto.</span>
        </h2>
        <p class="lead">
            Nuestro Sensor permite conocer el estado de conservación de los granos a través de sus parámetros de temperatura, humedad y Co2 en cualquier parte del mundo donde se encuentren instalados.
            Nuestros servicios de analytics, y alertas pueden ser accedidos desde cualquier dispositivo con conexión a internet, permitiéndole a nuestros clientes tener un panel de control del estado de sus granos almacenados.
            A su vez AlarmSilo ofrece soluciones y servicios sobre los granos almacenados permitiendo tener trazabilidad de los mismos.
        </p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
             height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400"
             preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" />
            <text x="50%" y="50%" fill="#aaa"
                  dy=".3em"></text>
        </svg>

    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
            Dispositivo: <span class="text-muted">
                características.
            </span>
        </h2>
        <ul class="lead">
            <li>Detección de movimiento</li>
            <li>Medición de parámetros de: humedad, temperatura y CO2.</li>
            <li>Alertas por e-mail y WhatsApp</li>
            <li>Auto Instalable: No es necesario personal especializado para la instalación de los sensores.</li>
            <li>Vida Útil; Mayor a 5 años.</li>
            <li>Control en Tiempo Real.</li>
        </ul>
    </div>
    <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
             height="350" xmlns="http://www.w3.org/2000/    svg" role="img" aria-label="Placeholder: 400x400"
             preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" />
            <text x="50%" y="50%" fill="#aaa"
                  dy=".3em"></text>
        </svg>

    </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">
            Seguridad <span class="text-muted"> en tiempo real.</span>
        </h2>
        <p class="lead">
            Contamos con un sistema de integración continua. ¿Qué quiere decir ésto? Que estamos recibiendo datos diarios de los dispositivos aplicados en tus silos. 
            Por lo tanto, podemos ofrecerte en cualquier lugar y momento, la información al instante de tus silos y te notificaremos si algo está fuera de los parámetros.
        </p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
             height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400"
             preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" />
            <text x="50%" y="50%" fill="#aaa"
                  dy=".3em"></text>
        </svg>

    </div>
</div>
