<div class="row mt-3">
    <div class="col-lg-4 text-justify text-center">
        <img class="" src="/image/quehacemos.png" alt="Italian Trulli" height="140" width="320">        
        <p class="text-justify lead">
            <br />
            Nos enfocamos en cuidar los granos post-procesados, almacenados en silos bolsa, especializandonos en mantener al cliente informado sobre el estado de sus cereales día a día.
        </p>
    </div>
    <div class="col-lg-4 text-justify text-center">
        <img class="" src="/image/comolohacemos.png" alt="Italian Trulli" height="140" width="320">       
        <p class="text-justify lead">
            <br />
            Aplicamos nuestras tecnologías de conectividad y sensado que nos permiten implementar nuestros algoritmos de estadísticas y comunicación. Para esto es necesario implementar nuestro producto SecureBag.
        </p>
    </div>
    <div class="col-lg-4 text-justify text-center">
        <img class="" src="/image/porqueelegirnos.png" alt="Italian Trulli" height="140" width="320">  
        <p class="text-justify lead">
            <br />
            Somos una empresa dedicada en nuestra totalidad al Agro, tenemos nuestros cereales y sabemos como cuidarlos. Acompañado de nuestras tecnologías de punta y un software hecho a medida idealizado de forma agradable para nuestros clientes.
        </p>
    </div>
</div>