@page "/crear-silo"
@inject HttpClient Http
@inject NavigationManager NavManager

<div class="container">
    <br />
    <h3 class="text-center">Configurar nuevo silo</h3>
    <FormularioSilos TextoBoton="Confirmar" OnValidSubmit="@CrearSilo" Silo="@silo" />
</div>

@code {
    Silo silo = new Silo();

    async Task CrearSilo()
    {
        await Http.PostAsJsonAsync("silos", silo);
        NavManager.NavigateTo("silos");
    }
}
