@page "/editar-silo/{IdSilo:int}"
@inject HttpClient Http
@inject NavigationManager NavManager

<div class="container">
    <br />
    <h3 class="text-center"> Editar silo</h3>
    @if (silo != null)
    {
        <FormularioSilos TextoBoton="Editar Silo" OnValidSubmit="@EditarSilo" Silo="@silo" />
    }
</div>

@code {
    [Parameter] public int IdSilo { get; set; }
    Silo silo;
    protected async override Task OnParametersSetAsync()
    {
        silo = await Http.GetFromJsonAsync<Silo>($"silos/{IdSilo}");
    }
    async Task EditarSilo()
    {
        await Http.PutAsJsonAsync("silos", silo);
        NavManager.NavigateTo("silos");
    }
}
