@page "/crear-campo"
@inject HttpClient Http
@inject NavigationManager NavManager

<div class="container">
    <br />
    <h3 class="text-center">Configurar nuevo campo</h3>
    <FormularioCampos TextoBoton="Confirmar" OnValidSubmit="@CrearCampo" Campo="@campo" />
</div>

@code {
    Campo campo = new Campo();

    async Task CrearCampo()
    {
        await Http.PostAsJsonAsync("campos", campo);
        NavManager.NavigateTo("campos");
    }

}
